#header
	.center
		%a.website{:href=>'helloworld'}
			%span.left &nbsp;
			%span.center Hello World 
			%span.right &nbsp;
		%a.logo{:href=>'hello world'}
			%img{:src=>'/images/logo.png'}
		%a.logout{:href=>'hello world'} Log out